html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* SCSS Gradient */
*,
h1,
h2,
button {
  margin: 0;
  padding: 0;
  border: 0;
  border: none;
  text-decoration: none;
}

.innerWrapper {
  width: 60%;
  max-width: 600px;
  margin: 0 auto;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.puzzleAndCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Permanent Marker", cursive;
  font-size: 1.6rem;
}

h2 {
  color: #011638;
  font-weight: 800;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
}

.introTitle {
  color: #fff8f0;
  width: 100%;
  text-align: center;
  font-size: 8rem;
  border: 10px solid #d58936;
  border-radius: 20px;
  margin: 30px auto 10px auto;
}

.rules {
  width: 80%;
  background-color: #fff8f0;
  border: 8px solid #d58936;
  border-radius: 15px;
  margin: 0 auto;
}

.createdBy {
  font-size: 1.6rem;
  color: #fff8f0;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.createdBy span {
  font-family: "Montserrat", sans-serif;
}

.createdBy a {
  color: inherit;
}

.createdBy a:hover, .createdBy a:focus {
  color: #d58936;
}

.rules {
  padding: 20px 20px 20px 30px;
}

.rules ul {
  font-family: "Montserrat", sans-serif;
}

.rules ul li {
  padding: 10px;
}

.startGame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: none;
  font-family: #011638;
}

.startGame a {
  color: #9e2b25;
}

.startText {
  font-size: 4rem;
  margin: 30px 20px 0 10px;
  position: relative;
  left: -45px;
}

.startText:hover, .startText:focus {
  color: #fff8f0;
}

.startText::before {
  content: '>>';
  position: absolute;
  font-family: #011638;
  color: #9e2b25;
  font-size: 8rem;
  right: -115px;
  top: -30px;
}

@media (max-width: 915px) {
  .introTitle {
    font-size: 5rem;
  }
}

@media (max-width: 610px) {
  .innerWrapper {
    width: 95%;
  }
  .startText {
    width: 50%;
    font-size: 3.5rem;
    text-align: right;
    margin-top: 15px;
  }
  .startText::before {
    top: -33px;
  }
}

@media (max-width: 400px) {
  .startText::before {
    top: -15px;
  }
}

body {
  background-color: #011638;
}

.gameTitle {
  color: #fff8f0;
  width: 100%;
  text-align: center;
  font-size: 8rem;
  border: 10px solid #d58936;
  border-radius: 20px;
  margin: 10px auto 5px auto;
}

.puzzleAndCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.counterAndRestart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movesLeft,
.piecesBoundary,
.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 20px solid #fff8f0;
  border-radius: 15px;
  background-color: #fff8f0;
  z-index: 10;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movesLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  width: 200px;
  height: 225px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movesLeft h2 {
  font-family: "Montserrat", sans-serif;
}

.movesLeft::before,
.controls::before {
  content: '';
  position: absolute;
  border: 8px solid #d58936;
  border-radius: 30px;
  top: -28px;
  right: -28px;
  bottom: -28px;
  left: -28px;
}

.counter {
  font-size: 8rem;
}

.almostGameOver {
  font-size: 10rem;
  color: #9e2b25;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: pulse .4s infinite ease;
          animation: pulse .4s infinite ease;
}

@-webkit-keyframes pulse {
  0% {
    font-size: 10rem;
  }
  50% {
    font-size: 9rem;
  }
  100% {
    font-size: 10rem;
  }
}

@keyframes pulse {
  0% {
    font-size: 10rem;
  }
  50% {
    font-size: 9rem;
  }
  100% {
    font-size: 10rem;
  }
}

.controls {
  width: 85%;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  -ms-flex-line-pack: right;
      align-content: right;
}

.controlsTitle {
  list-style: none;
}

.controlsTitle h3 {
  text-transform: uppercase;
  font-weight: 800;
}

.controlsTitle ul {
  padding-left: 10px;
}

.piecesBoundary::before {
  content: '';
  position: absolute;
  top: -28px;
  right: -28px;
  bottom: -28px;
  left: -28px;
  border: 8px solid #d58936;
  border-radius: 23px;
}

.piecesContainer,
.puzzleContainer {
  background-color: #08415C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.puzzleContainer {
  width: 400px;
  min-width: 400px;
  height: 400px;
  margin-left: 15px;
}

.imagePreview {
  content: '';
  position: absolute;
  width: 400px;
  min-width: 400px;
  height: 400px;
  z-index: 100;
  background-image: url("../assets/toughPuzzleFour.jpg");
}

.puzzleContainer::before {
  content: "";
}

.piecesContainer {
  width: 170px;
  min-width: 150px;
  height: 400px;
  position: relative;
  border-radius: 12px;
}

.pieceSlot {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  min-width: 100px;
  height: 100px;
  border: 1px solid black;
}

.handle {
  width: 100px;
  min-width: 100px;
  height: 100px;
  min-height: 100px;
  display: block;
}

.handle:hover, .handle:focus {
  border: 2px solid red;
}

.piece {
  position: absolute;
  background-image: url("../assets/toughPuzzleOne.jpg");
  background-repeat: no-repeat;
  z-index: 50;
}

.jigsaw0 {
  background-position: 0 0;
  /* border: 1px solid yellow; */
}

.jigsaw1 {
  background-position: -100px 0;
  /* border: 1px solid yellow; */
}

.jigsaw2 {
  background-position: -200px 0;
  /* border: 1px solid yellow; */
}

.jigsaw3 {
  background-position: -300px 0;
  /* border: 1px solid yellow; */
}

.jigsaw4 {
  background-position: 0 -100px;
  /* border: 2px solid green; */
}

.jigsaw5 {
  background-position: -100px -100px;
  /* border: 2px solid green; */
}

.jigsaw6 {
  background-position: -200px -100px;
  /* border: 2px solid green; */
}

.jigsaw7 {
  background-position: -300px -100px;
  /* border: 2px solid green; */
}

.jigsaw8 {
  background-position: 0 -200px;
  /* border: 2px solid red; */
}

.jigsaw9 {
  background-position: -100px -200px;
  /* border: 2px solid red; */
}

.jigsaw10 {
  background-position: -200px -200px;
  /* border: 2px solid red; */
}

.jigsaw11 {
  background-position: -300px -200px;
  /* border: 2px solid red; */
}

.jigsaw12 {
  background-position: 0 -300px;
  /* border: 2px solid blue; */
}

.jigsaw13 {
  background-position: -100px -300px;
  /* border: 2px solid blue; */
}

.jigsaw14 {
  background-position: -200px -300px;
  /* border: 2px solid blue; */
}

.jigsaw15 {
  background-position: -300px -300px;
  /* border: 2px solid blue; */
}

.zIndexLower {
  z-index: 20;
}

.gameReplay {
  background-color: #d58936;
  color: #011638;
  width: 175px;
  height: 50px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  border-radius: 10px;
  border: 3px solid #fff8f0;
  margin: 20px 20px 50px 0;
}

.gameReplay:hover, .gameReplay:focus {
  background-color: #fff8f0;
  border-color: #d58936;
}

.alertReplay {
  background-color: #d58936;
  color: #011638;
  width: 175px;
  height: 50px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  border-radius: 10px;
  border: 3px solid #fff8f0;
}

.alertReplay:hover, .alertReplay:focus {
  background-color: #fff8f0;
  border-color: #d58936;
}

.alert:focus-within {
  background-color: #fff8f0;
  border-color: #d58936;
}

.alert {
  background-color: #fff8f0;
  text-align: center;
  width: 50%;
  max-width: 500px;
  padding: 50px 0;
  border: 10px solid #d58936;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px black;
          box-shadow: 8px 8px black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 200;
}

.alert::before {
  border: 2px solid black;
}

.show {
  display: none;
}

.hide {
  opacity: 1;
}

@media (max-width: 930px) {
  .counterAndRestart {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .movesLeft {
    width: 420px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100px;
  }
  .movesLeft h2 {
    margin-bottom: 20px;
  }
  .gameReplay {
    margin-top: 50px;
  }
}
