

.introTitle {
    color: $secondary;
    width: 100%;
    text-align: center;
    font-size: 8rem;
    border: 10px solid $bronze;
    border-radius: 20px;
    margin: 30px auto 10px auto;
}

.rules {
    width: 80%;
    // height: 250px;
    background-color: $secondary;
    border: 8px solid $bronze;
    border-radius: 15px;
    margin: 0 auto;
}

.createdBy {
    font-size: 1.6rem;
    color: $secondary;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
        span {
            font-family: $secondaryFont;
        }
        a {
            color: inherit;
                &:hover,
                &:focus {
                    color: $bronze;
                }
        }
}


.rules {
    padding: 20px 20px 20px 30px;
    // min-width: 300px;
        ul {
            font-family: $secondaryFont;
                li {
                    padding: 10px;
                }
        }
}

.startGame {
    display: flex;
    justify-content: center;
    text-transform: none;
    font-family: $primary;
    a {
        color: $accent; //need to change colour - not AAA
    }
}

.startText {
    font-size: 4rem;
    margin: 30px 20px 0 10px;
    position: relative;
    left: -45px;
        &:hover,
        &:focus {
        color: $secondary;
    }
}

.startText::before {
    content: '>>';
    position: absolute;
    font-family: $primary;
    color: $accent;
    font-size: 8rem;
    right: -115px;
    top: -30px;

}


@media (max-width: 915px) {
    .introTitle {
        font-size: 5rem;
    }
}

@media (max-width: 610px) {
    .innerWrapper {
        width: 95%;
    }

    .startText {
        width: 50%;
        font-size: 3.5rem;
        text-align: right;
        margin-top: 15px;
            &::before {
                top: -33px;
                
            }
    }
}

@media (max-width: 400px) {        
        .startText::before {
            top: -15px;
        }
}