body {
    background-color: $primary;
}

// create mixin and move to typography
h1 {
    color: $secondary;
    text-align: center;
    font-size: 8rem;
    border: 10px solid $bronze;
    border-radius: 20px;
    padding: 10px 30px;
}

.movesLeft,
.piecesBoundary {
    display: flex;
    border: 20px solid $secondary;
    border-radius: 15px;
    background-color: $secondary;
    z-index: 10;
    position: relative;
}

.movesLeft::before {
    content: '';
    position: absolute;
    border: 8px solid $bronze;
    border-radius: 23px;
    top: -28px;
    right: -28px;
    bottom: -28px;
    left: -28px;
}

.piecesBoundary::before {
    content: '';
    position: absolute;
    top: -28px;
    right: -28px;
    bottom: -28px;
    left: -28px;
    border: 8px solid $bronze;
    border-radius: 23px;
}

.piecesContainer,
.puzzleContainer {
        background-color: #08415C;
        display: flex;
        flex-wrap: wrap;
    }

.movesLeft {
    margin-right: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* width: 200px; */
    height: 100%;
    padding: 5px;
    text-align: center;
}

.counter {
    font-size: 7rem;
}

.puzzleContainer {
    width: 450px;
    min-width: 400px;
    height: 400px;
    border-left: 50px solid $secondary;
}

.piecesContainer {
    width: 150px;
    min-width: 150px;
    height: 400px;
    position: relative;
    border-radius: 12px;;
}

// .piece, 
.pieceSlot {
    flex-basis: 100px;
    min-width: 100px;
    height: 100px;
    border: 1px solid black;
}

a {
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
    display: block;
        &:hover,
        &:focus {
            border: 2px solid red;
        }
}


.piece {
    position: absolute;
    background-image: url('../assets/toughPuzzleFour.jpg');
    background-repeat: no-repeat;
    z-index: 100;
}

.jigsaw0 {
    background-position: 0 0;
    /* border: 1px solid yellow; */
}
.jigsaw1 {
    background-position: -100px 0;
    /* border: 1px solid yellow; */
}
.jigsaw2 {
    background-position: -200px 0;
    /* border: 1px solid yellow; */
}
.jigsaw3 {
    background-position: -300px 0;
    /* border: 1px solid yellow; */
}
.jigsaw4 {
    background-position: 0 -100px;
    /* border: 2px solid green; */
}
.jigsaw5 {
    background-position: -100px -100px;
    /* border: 2px solid green; */
}
.jigsaw6 {
    background-position: -200px -100px;
    /* border: 2px solid green; */
}
.jigsaw7 {
    background-position: -300px -100px;
    /* border: 2px solid green; */
}
.jigsaw8 {
    background-position: 0 -200px;
    /* border: 2px solid red; */
}
.jigsaw9 {
    background-position: -100px -200px;
    /* border: 2px solid red; */
}
.jigsaw10 {
    background-position: -200px -200px;
    /* border: 2px solid red; */
}
.jigsaw11 {
    background-position: -300px -200px;
    /* border: 2px solid red; */
}
.jigsaw12 {
    background-position: 0 -300px;
    /* border: 2px solid blue; */
}
.jigsaw13 {
    background-position: -100px -300px;
    /* border: 2px solid blue; */
}
.jigsaw14 {
    background-position: -200px -300px;
    /* border: 2px solid blue; */
}
.jigsaw15 {
    background-position: -300px -300px;
    /* border: 2px solid blue; */
}

.zIndexLower {
    z-index: 0;
}

button {
    margin-top: 50px;
}