

body {
    background-color: $primary;
}

// create mixin and move to typography
.nonPlayableArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movesLeft,
.piecesBoundary {
    display: flex;
    border: 20px solid $secondary;
    border-radius: 15px;
    background-color: $secondary;
    z-index: 10;
    position: relative;
}

.movesLeft {
    // display: flex;
    margin-right: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 200px;
    text-align: center;
    justify-content: center;
}

.movesLeft::before {
    content: '';
    position: absolute;
    border: 8px solid $bronze;
    border-radius: 23px;
    top: -28px;
    right: -28px;
    bottom: -28px;
    left: -28px;
}

.piecesBoundary::before {
    content: '';
    position: absolute;
    top: -28px;
    right: -28px;
    bottom: -28px;
    left: -28px;
    border: 8px solid $bronze;
    border-radius: 23px;
}

.piecesContainer,
.puzzleContainer {
    background-color: #08415C;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.puzzleContainer {
    width: 400px;
    min-width: 400px;
    height: 400px;
    margin-left: 15px;
}

.imagePreview {
            content: '';
            position: absolute;
            width: 400px;
            min-width: 400px;
            height: 400px;
            z-index: 1000;
            background-image: url("../assets/toughPuzzleFour.jpg");
        }

.puzzleContainer::before {
    content: '',

}

.piecesContainer {
    width: 170px;
    min-width: 150px;
    height: 400px;
    position: relative;
    border-radius: 12px;;
}

.pieceSlot {
    flex-basis: 100px;
    min-width: 100px;
    height: 100px;
    border: 1px solid black;
}

a {
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
    display: block;
        &:hover,
        &:focus {
            border: 2px solid red;
        }
}

.piece {
    position: absolute;
    background-image: url('../assets/toughPuzzleFour.jpg');
    background-repeat: no-repeat;
    z-index: 100;
}

.jigsaw0 {
    background-position: 0 0;
    /* border: 1px solid yellow; */
}
.jigsaw1 {
    background-position: -100px 0;
    /* border: 1px solid yellow; */
}
.jigsaw2 {
    background-position: -200px 0;
    /* border: 1px solid yellow; */
}
.jigsaw3 {
    background-position: -300px 0;
    /* border: 1px solid yellow; */
}
.jigsaw4 {
    background-position: 0 -100px;
    /* border: 2px solid green; */
}
.jigsaw5 {
    background-position: -100px -100px;
    /* border: 2px solid green; */
}
.jigsaw6 {
    background-position: -200px -100px;
    /* border: 2px solid green; */
}
.jigsaw7 {
    background-position: -300px -100px;
    /* border: 2px solid green; */
}
.jigsaw8 {
    background-position: 0 -200px;
    /* border: 2px solid red; */
}
.jigsaw9 {
    background-position: -100px -200px;
    /* border: 2px solid red; */
}
.jigsaw10 {
    background-position: -200px -200px;
    /* border: 2px solid red; */
}
.jigsaw11 {
    background-position: -300px -200px;
    /* border: 2px solid red; */
}
.jigsaw12 {
    background-position: 0 -300px;
    /* border: 2px solid blue; */
}
.jigsaw13 {
    background-position: -100px -300px;
    /* border: 2px solid blue; */
}
.jigsaw14 {
    background-position: -200px -300px;
    /* border: 2px solid blue; */
}
.jigsaw15 {
    background-position: -300px -300px;
    /* border: 2px solid blue; */
}

.zIndexLower {
    z-index: 0;
}

button {
    // margin-top: 50px;
    background-color: $bronze;
    color: $primary;
    width: 175px;
    height: 50px;
    text-transform: uppercase;
    font-family: $secondaryFont;
    font-weight: 800;
    border-radius: 10px;
    margin: 50px 20px 50px 0;
    // margin-bottom: 50px;
    border: 3px solid $secondary;
}










